*
{
  margin: 0;
  padding: 0;
  font-family:arial,serif;
}
body
{
    background: url(MATRIALS/DE.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}
/*********************************************************************************************/
/*start of the header*/

header
{
    height: 60px;
    padding: 60px;
}
h1
{
    position: absolute;
    top: 80px;
    font-family: Courier;
}
header img
{
    float:left;
    height:100px;
    width:350px;
}
.clear
{
  clear: both;
}
header h1
{
    display: inline; 
    left:650px;
    font-size: 37px;
    color: #383e56;
    font-weight: bolder;
}
/*end of the headwe*/

/*start of the nav*/
.my_nav
{
  margin: -9px auto;
  padding: 10px;
  height: 100px;
  position: relative;
  left:25%;
}
.my_nav ul
{
  list-style: none;

}
.my_nav ul li
{
  background-color: white;
  width: 170px;
  border-radius:0px 20px 0px 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: #fff;
  font-size: 20px;
  position: relative;
  font-family: arial serif;
  font-weight: bold;
  box-shadow:2px 2px 10px #000;
    transition-duration: 2.0s;
transition-duration: 2.0s;
 }
.my_nav ul li:hover
{
    background: #E0E0E0;
}

.search-list ul li
{
    display: none;
}
ul
{
    list-style-type: none;
}
.div
{
    border-radius:10px;
    line-height: 50px;
    background-color: #f1f9ec;
    width: 170px;
    position: absolute;
    right: 221px;
    top: 112px;
    line-height: 30px;
    text-align: center;
    font-size: 19px;
    box-shadow: 3px 3px 5px;
    border-color: black;
}
.div a
{
   color:#383e56;
   text-decoration: none;
}
.search:hover >ul
{
    display: block;
}
.my_nav ul ul
{
  display: none;
}
.my_nav ul li:hover >ul
{
  display: block;
}
.my_nav a
{
   color:#383e56;
   text-decoration: none;
}
/*table*/
div
{
    margin: 20px ;
}
table td
{
    background-color: white;
    border: 2px solid #fdfcfa;
    margin: 20px ;
    color:skyblue
    padding: 0px;
    width: 300px;
    height: 70px;
    box-shadow:-5px 5px 5px #000;
    border-radius:0px 20px 0px 20px;
	color:black;
	text-align: center;
    font-size: 18px;
}

table tr                                
{
  margin: 0px 20px 20px 20px;
  color:#fff;
  background:#000;
}
/* End of table */
/*footer*/
footer
{
    height: 50px;
    padding: 10px;    
}
footer ul
{
  list-style: none;
  float:left;
}
footer ul li
{
  width:150px;
  float: left;
  padding-top: 30px;
  padding-right:20px;
  line-height:0px;
}
footer a
{
    text-decoration: none;
    color: black;
    font-size:15px;
}
.home_footer
{
  margin-left: -90px;
  font-size:15px;

}
footer p
{
	line-height:50px;
    font-size:15px;
    float: right;
    padding-right:20px;
    margin-top: 0px;
    color: black;
  
}
.clear
{
 clear: both;
}
.first_list
{
  margin-right: -80px;
  margin-left: 0px;
/*end of the footer*/